<div class="d1">
  <table mat-table [dataSource]="tableData" class="mat-elevation-z8">
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef>Sno</th>
      <td mat-cell *matCellDef="let element">{{ element.sno }}</td>
    </ng-container>
    <ng-container matColumnDef="disease">
      <th mat-header-cell *matHeaderCellDef>Disease</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span *ngIf="editedRowIndex !== i">{{ element.disease }}</span>
        <input type="text" *ngIf="editedRowIndex === i" [(ngModel)]="element.disease" />
      </td>
    </ng-container>
    <ng-container matColumnDef="cause">
      <th mat-header-cell *matHeaderCellDef>Cause</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span *ngIf="editedRowIndex !== i">{{ element.cause }}</span>
        <input type="text" *ngIf="editedRowIndex === i" [(ngModel)]="element.cause" />
      </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button mat-icon-button color="warn" (click)="deleteData(element.sno)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="primary" *ngIf="!editMode" (click)="editData(element, i)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" *ngIf="editMode && editedRowIndex === i" (click)="updateData()">
          <mat-icon>save</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns; let i = index;"></tr>
  </table>
  <button mat-raised-button color="primary" style="float: right;" (click)="toggleForm()">Add Data</button>
</div>

<div class="d1" *ngIf="showForm">
  <div class="t1">
    <table>
      <caption>
        <h2>{{ editMode ? 'Update Data' : 'Add Data' }}</h2>
      </caption>
      <tr>
        <td><input type="text" name="sno" placeholder="Enter sno" [(ngModel)]="formData.sno" /></td>
        <td><input type="text" name="disease" placeholder="Enter disease" [(ngModel)]="formData.disease" /></td>
        <td><input type="text" name="cause" placeholder="Enter cause" [(ngModel)]="formData.cause" /></td>
        <td>
          <button mat-raised-button color="accent" *ngIf="!editMode" (click)="insertData()">Submit</button>
          <button mat-raised-button color="accent" *ngIf="editMode" (click)="updateData()">Update</button>
          <button mat-raised-button color="warn" (click)="cancelForm()">Cancel</button>
        </td>
      </tr>
    </table>
  </div>
</div>
