<div class="container">
    Established in 1998, Narasaraopeta Engineering College, the first technical education institution in the region, has been excelling in research and entrepreneurship ever since its inception. In the last two decades, it has given hundreds of engineers and leaders to the nation.

With this success, NEC is scripting a new history for the country’s technological prowess and emerging as one of the finest technical colleges in the country. At Narasaraopeta Engineering College, we believe in the views on education expressed by the likes of Henry Ford – Education is preeminently a matter of quality, not amount – and strive to adhere to those views.

Our alumni have accomplished several entrepreneurial and engineering feats after pursuing our undergraduate and postgraduate research and academic programmes, and the credit for their success, in part, goes to our outstanding, industry-renowned faculty.

NEC is sponsored by the Gayatri Educational Development Society (GEDS) and approved by the AICTE, New Delhi, with NBA and NAAC accreditations. It also has permanent affiliation to JNTU-Kakinada. The college has strong links with some of the biggest peer universities and institutes, and companies at the national and international levels, which in return help in enhancing the research quality and enriching its educational programmes.

Narasaraopeta Engineering College today is a union of multidisciplinary courses with a focus on both academy and research, and is fast becoming a thriving source of multiple avenues in entrepreneurship and employment. At NEC, we are not just teaching technology but also teaching aspirants to influence the future of the world and make it a better place.

Our Vision
To emerge as a Centre of excellence in technical
education with a blend of effective student
centric teaching learning practices as well as
research for the transformation of lives and
community,


</div>